body {
    background-color: black;
    background: url("bgimg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}