{% extends 'base.html' %} 

{% block content %}

<!-- Log in section -->
<div class="position-absolute top-50 start-50 translate-middle">
    <form
        action=""
        method="POST"
        class="form needs-validation bg-dark p-3 card rounded-3"
    >
        <!-- row 1 -->
        <div class="form-group row my-1">
            <div class="col-sm-3 col-form-label my-auto text-light">
                <label for="emailID">Email: </label>
            </div>
            <div class="col-sm-9 my-auto">
                <input
                    required
                    class="form-control"
                    type="text"
                    name="username"
                    id="emailID"
                    placeholder="username"
                />
            </div>
        </div>
        <!-- row 2 -->
        <div class="form-group row my-1">
            <div class="col-sm-3 col-form-label my-auto text-light mt-2">
                <label for="passwordID">Password: </label>
            </div>
            <div class="col-sm-9 my-auto">
                <input
                    required
                    class="form-control"
                    type="password"
                    name="password"
                    id="passwordID"
                    placeholder="password"
                />
            </div>
        </div>
        <!-- row 3 -->
        <div class="form-group row">
            <!-- remember me toggle -->
            <div class="btn-group col-sm-4">
                <input
                    class="btn-check"
                    type="checkbox"
                    name="rememberMe"
                    id="rememberMeID"
                />
                <label
                    class="text-light btn btn-outline-danger"
                    style="font-size: 0.6rem"
                    for="rememberMeID"
                    >Remember me</label
                >
            </div>
            <!-- forgot password link-->
            <div class="col-sm-5 ms-auto text-end">
                <a
                    class="col-sm-4 link-light text-decoration-none"
                    style="font-size: 0.6rem"
                    href="/resetpassword"
                    >Forgot Password?</a
                >
            </div>
        </div>
        <!-- spacer -->
        <p> </p>
        <!-- log in button -->
        <button type="submit" class="btn btn-danger mt-2">Log in</button>
    </form>
</div>

{% endblock %}
